{% extends 'blogs/base.html' %}

{% block content %}

<h1>Blog</h1>

{% if user.is_authenticated %}
    <p>
        <a href="{% url 'blogs:new_post' %}">Add a new post</a>
    </p>
{% endif %}

<ul>
    {% for post in posts %}
        <li>
            <h2>{{ post.title }}</h2>
            <p>{{ post.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ post.text|linebreaks }}</p>
            <p><strong>Blog:</strong> {{ post.blog }}</p>
            <p><strong>Owner:</strong> {{ post.blog.owner }}</p>

            {% if user == post.blog.owner %}
                <p>
                    <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
                </p>
            {% endif %}
        </li>
    {% empty %}
        <li>No posts have been added yet.</li>
    {% endfor %}
</ul>

{% endblock content %}