{% extends 'blogs/base.html' %}

{% block content %}

<h2>Add a new post</h2>

<form method="post">

    {% csrf_token %}

    <div class="mb-3">
        {{ form.blog.label_tag }}
        {{ form.blog }}
    </div>

    <div class="mb-3">
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>

    <div class="mb-3">
        {{ form.text.label_tag }}
        {{ form.text }}
    </div>

    <button class="btn btn-primary">
        Add post
    </button>

</form>

{% endblock content %}